<p-card header="Contact" class="block m-2">

  @if (notification.visible()) {
    <p-message life="3000" [severity]="notification.severity" [text]="notification.message" />
  }

  <p class="text-sm"><span class="text-red-500">*</span> Champ obligatoire</p>
  <form #form="ngForm" (ngSubmit)="onSend(form)">
    <div class="form-field">
      <label for="email">Email<span class="text-red-500">*</span></label>
      <input pInputText
             type="email"
             id="email"
             name="email"
             [(ngModel)]="email"
             required
             email>
    </div>
    <div class="form-field">
      <label for="message">Message<span class="text-red-500">*</span></label>
      <textarea pInputTextarea
                id="message"
                name="message"
                rows="5"
                cols="30"
                (ngModelChange)="onInputMessageChange($event)"
                [(ngModel)]="message"
                [maxlength]="MESSAGE_MAX_SIZE"
                required>
        </textarea>
      @if (message) {
        <span class="text-right">{{ message.length }} / {{ MESSAGE_MAX_SIZE }}</span>
      }
    </div>
    <div class="flex justify-content-end">
      <p-button type="submit" icon="pi pi-send" [disabled]="!form.valid" label="Envoyer" severity="success"/>
    </div>
  </form>
</p-card>
