<p-toast position="bottom-right"/>

<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-dataView #dv [value]="products()" [rows]="5" [paginator]="true" [sortField]="sortField" [sortOrder]="sortOrder" filterBy="name,category">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between">
      <div class="sorting p-2">
        <p-dropdown
          [options]="sortOptions"
          placeholder="Trier par prix"
          (onChange)="onSortChange($event)"
          styleClass="mr-2 my-2"
        />
      </div>
      <div class="filter p-2">
        <p-dropdown
          [options]="filterOptions"
          [(ngModel)]="categoryfilterKey"
          placeholder="Filtrer par catégorie"
          (onChange)="onFilterChange($event, 'category')"
        />
        <span class="p-input-icon-left ml-2 my-2">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Rechercher par name" [(ngModel)]="namefilterKey" (input)="onFilterChange($event, 'name')">
      </span>
      </div>
    </div>
  </ng-template>
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="block relative mb-2">
              <ng-template pTemplate="header">
                <img alt="Card" class="w-full"
                     [src]="product.image ? 'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image : 'assets/product-placeholder.jpg'"
                     width="300" height="300"/>
                <p-tag [value]="getInventoryName(product.inventoryStatus)"
                       [severity]="getInventorySeverity(product.inventoryStatus)"/>
              </ng-template>
                <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                <div class="block absolute" style="top: 0.75rem; right: 0.75rem;">
                  <p-rating
                    [(ngModel)]="product.rating"
                    [readonly]="true"
                    [cancel]="false"
                    [stars]="5"
                  ></p-rating>
                  <span class="font-bold pl-1">({{ product.rating }}/5)</span>
                </div>
              <div class="text-xl font-bold text-900 mt-2">{{ product.price | currency }}</div>
              <div class="text-sm font-normal mt-4">{{ product.description }}</div>

                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                      @if (isProductInCart(product.id)) {
                        <p-button label="Supprimer du panier" icon="pi pi-cart-minus" [outlined]="true" severity="danger" class="cart-button"
                                  (onClick)="removeProductToCart(product)"/>
                      } @else {
                        <p-button label="Ajouter au panier" icon="pi pi-cart-plus" [outlined]="true" severity="primary"
                                  (onClick)="addProductToCart(product)"/>
                      }
                        <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                    </div>
                </ng-template>
            </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>
